body {
}

.modal-content {
    border-radius: 0;
}

.modal-header, .modal-footer {
    background-color: #333;
    color: white;
    border: 0;
}

.modal-body {
    background: #2c3e50;
    color: white;
}

.close, .close:hover {
    color: white;
}
